@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

            /*PAGINA INICIAL*/

/*HEADER COM LOGO*/

header{
    height: 153px;
    width: 100%;
    background-color: #000000;
    display: flex;
}
#Logo{
    position: static;
    z-index: 1;
}

#Textura_Header{
    position: absolute;
    right: 0px;
}

/*MENU*/

#menu{
    position:sticky;
    top: 0;
    z-index: 3;
}

#barra{
    width: 100%;
    height: 6px;
    background-color: #1F140F;
}

.bg-body-tertiary{
    height: 54px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navbar-nav{
    background-color: #3B2819 !important;
    width: 100%;
    height: 35px;
}

.navbar-nav, nav:link, nav:visited, nav:hover, nav:active{
    flex-direction: row;
    font-family: 'Source Sans 3';
    font-size: 1.2rem;
    --bs-nav-link-font-weight: 500;
    --bs-nav-link-color: #FFF5E9;
    --bs-nav-link-hover-color: #fff5e9;
}

#menu .nav-link{
    
    padding: 0;
    color: #FFF5E9;
    margin-top: 3px;
    text-align: center;
}

/*BANNER COM BOTÃO DO ORÇAMENTO*/

#banner-botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-banner{
    height:450px;
    width: 100%;
}

#btn-orçamento{
    position: absolute;
    padding: 15px 25px;
    background-color: #EC8A6A;
    border: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1F140F;
    cursor: pointer;
}

/*FOTO RETICULADA DA XÍCARA*/

.row{
    --bs-gutter-x: 0;
}

#xicara {
    background-color: #CABAA4;
    padding: 0;
}

#img-xicara{
    width: 100%;
    height: 100%;
    position:relative;
    bottom: 0;
    left: 0;
}

/*TEXTO DO CAFE ESPECIAL*/

#texto-cafe{
    background-color: #1F140F;
    display: flex;
    padding-right: 0;
}

#cafes-especiais{
    
    padding: 30px 20px 20px 80px;}

h2{
    font-size: 1.6rem;
    font-weight: 600;
    font-family: playfair display, cursive;
    color: #CABAA4;
    margin-bottom: 15px;
}

#cafes-especiais p{
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Source Sans 3', sans-serif;
    color: #ffffff;
    margin: 0;

}

#enfeite-texto{
    height: auto;
}



/*TEXTO ARTIGO*/

article{
    height: auto;
    background-color: #000000;
    padding: 20px;
}

article h2{
    font-size: 1.6rem;
    font-weight: 600;
    font-family: playfair display, cursive;
    text-align: center;
    color: #F4EBE4;;
    margin: 0;
    padding: 20px 0 10px 0;

}

article p{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    color: #F4EBE4;
    margin: 0;
    padding: 0 30px 30px 30px;
}

/*MOTO*/

#valores{
    height: auto;
    background-color: #FFF5E9;
}

#img-valores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 115px;
    width: 107px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#texto-valores{
    text-align: center;
    margin: 0;

}

#valores h3{
    text-align: center;
    padding-bottom: 10px;
    color: #000000;
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.container{
    padding: 0;
    margin: 0;
}

#valores p{
    color: #000000;
    padding: 0 30px 50px 30px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

/*TEXTO O INICIO E CARROSSEL COM FOTOS*/

#inicio-fundo{
    height: fit-content;
    background-color: #EC8A6A;
    padding: 50px 0 50px 0;
}

.ret-inicio{
    display: flex;
    justify-content: center;
    
}

#fundo-preto{
    align-self: center;
    background-color: #000000;
    padding: 30px 0 30px 0;
}

.carousel-indicators [data-bs-target] {
    background-color: #CABAA4;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.carousel-indicators{
    position: relative;
    margin-bottom: 0;
}

.carousel-indicators button{
    position: relative;
}

#texto-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: playfair display, cursive;
    color: #FFF5E9;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 15px;
}

#p-inicio{
    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Source Sans 3', sans-serif;
    color: #FFF5E9;
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

#btn-leia{
    position: static;
    height: fit-content;
    width: fit-content;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 10px;
    background-color:#EC8A6A;
    border-radius: 0;
    border: 0;
    color: #1F140F;

}

/*COMENTÁRIOS DE CLIENTES*/

#fundo-ct{
    background-color: #CABAA4;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#txt-crs{
    padding: 0 30px;
    line-height: 24px;
}

#carrossel-texto{
    align-self: center;
    background-color: #F4EBE4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
    padding: 20px;
}

.c-i-t {
    transition: none;
    
}

h3{
    font-family: playfair display, cursive;
    font-weight: 700;
    color: #1F140F;
    text-align: center;
}

.texto-crs{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Source Sans 3', sans-serif;
    color: #3B2819;
    margin: 0;
    text-align: center;
    padding: 0;
}

.texto-crs-n{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Source Sans 3', sans-serif;
    color: #3B2819;
    margin-top: 15px;
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    width: 7%;
}

#carrossel-texto .carousel-control-prev-icon{
    filter: invert(50%);
}

#carrossel-texto .carousel-control-next-icon{
    filter: invert(50%);
}

#carousel-indicators-texto{
    position: absolute;
    bottom: 10px;
    margin: 0;
}

#separador-bottom{
    align-self: center;
    width: 315px;
    padding-bottom: 50px;
}

/*FOOTER*/

#f1{
    background-color: #EC8A6A;
    height: 15px;
}
#f2{
    background-color: #FFF5E9;
    height: 15px;
}
#f3{
    background-color: #CABAA4;
    height: 15px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF5E9;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
}

#redes{
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

            /*PAGINA ORÇAMENTOS*/

h1{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: playfair display, cursive;
    color: #3B2819;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 15px;
}

#p-orç{
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 20px ;
    color: #3B2819;
}

#body-orç{
    background-color: #CABAA4;
    }
#div-moore{
    height: 100%;
    display: flex;
    justify-content: center;
    }
#fundo-orç{
    background-color: #FFF5E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

#orçamento {
    background-color: #FFF5E9;
    margin-top: 15px;
}

.separador-orç{
    display: flex;
    justify-self: center;
}

#orçamento .nav-link.active{
    background-color: #1F140F;
    gap: 10px;
}

#orçamento .nav-link{
    background-color: #3B2819;
    
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: var(--bs-border-color);
    --bs-nav-tabs-border-radius: var(--bs-border-radius);
    --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    gap: 10px;
    --bs-nav-link-color: #FFF5E9;
    --bs-nav-link-hover-color: #FFF5E9;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Source Sans 3', sans-serif;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFF5E9;
    background-color: #1F140F;
    border: 0;
    margin: 0;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.tab-content{
    background-color: #1F140F;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FFF5E9;
}

/*Form*/

#social-form{
    box-sizing: border-box;
    width: fit-content;
}

h5{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFF5E9;
    margin-top: 15px;
}

#social-p-1{
    display: flex;
    width: fit-content;
    margin-left: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.1rem;
    color: #FFF5E9;
}

.pergunta{
    justify-self: center;
    color: #FFF5E9;
}

.form-check-input{
    margin-right: 10px;
    margin-bottom: 15px;
    color: #FFF5E9;
}

.check-line{
    display: flex;
    flex-direction: row;

}

.flex-column{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: fit-content;
}


#social-p-2{
    display: flex;
    justify-content: space-evenly;
    color: #FFF5E9;
}


.form-check{
    display: flex;
    flex-direction: row;
    color: #FFF5E9;
}

#corporativo-form{
    box-sizing: border-box;
    width: fit-content;
    color: #FFF5E9;
}

#corporativo-p-1{
    display: flex;
    width: fit-content;
    margin-left: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.1rem;
}

#txt-menor{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
    margin: 10px 0 5px 0
}

.flex-row{
    display: flex;
    justify-content: center;
}

#corporativo-p-3{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: #FFF5E9;
}

.btn{
    background-color: #EC8A6A;
    
}

.btn:hover{
    border: solid 1px;
    border-color: #1F140F;
    --bs-btn-bg: #CABAA4;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: #1F140F;

}

.btn-check:checked+.btn{
    color: #CABAA4;
    background-color: #3B2819;
}

#corporativo-p-4{
    padding: 30px;
    color: #FFF5E9;
}

#corporativo-p-5{
    justify-content:space-evenly;
    padding: 20px 0 0 0;
    display: flex;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.1rem;
}

#detalhes{
    height: 50px;
}

#seg-form{
    background-color: #1F140F;
    height: fit-content;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

#pills-tabContent{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5E9;
}

#form-dias{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: center;
     border-radius: 0.5rem;

}



#pills-profile #pills-home {
    width: fit-content;


}
#dias{
    gap: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
     border-radius: 0.5rem;
color: #FFF5E9;
}

#data{
    margin-bottom: 0;
    width: 150px;
   border-radius: 0.5rem;

}

#hora{
    width: 150px;

    border-radius: 0.5rem;

}

#pills-home{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: absolute;
    z-index: 1;
}

.dia{
    display: flex;
    justify-content: space-between;
  border-radius: 0.5rem;
color: #FFF5E9;
}

#um-dia{
    width: 85%;
    border-radius: 0.5rem;

}

.hora{
    display: flex;
    justify-content: space-between;
     border-radius: 0.5rem;

}

#pills-profile{
    display: flex;
    flex-direction: column;
}

#conheceu{
    background-color: #1F140F;
    height: fit-content;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

#form-dados{
    background-color: #1F140F;
    height: fit-content;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    color: #FFF5E9;
}

#btn-final{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#enviar, #cancelar{
    width: 48%;
}

#enviar{
    background-color: #EC8A6A;
    color: #3B2819;
}
#cancelar{
    background-color: #3B2819;
    color: #CABAA4;
}

#separador-bottom-orç{
    display: flex;
    justify-content: center;
}

#o{
    background-color: #000000;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
}
            /*PAGINA SERVIÇOS*/
            /*PAGINA SOBRE*/

